.input-field {
    font-size: 15px;
    border: 2px solid #000000;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.purchase-btn {
    background-color: rgb(255, 255, 255);
    border: 2px solid #000000;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    padding: 8px 25px 8px 25px;
    font-family: tahoma;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}

.purchase-btn:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}